<nav class="h-16 bg-green-500 items-center text-white flex gap-5 px-5">
  <h3>
    <a routerLink="/" routerLinkActive="active">Quackquack</a>
  </h3>
  <nav class="flex items-center justify-between w-full">
    <ul class="flex items-center">
      <li><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Weather Forecast</a>
      </li>
    </ul>
    <div class="flex items-center gap-5">
      <p *ngIf="!!profile.givenName">Hi {{profile.givenName!}}</p>
      <button class="bg-rose-500 px-3 py-2 rounded" (click)="signout()">Signout</button>
    </div>
  </nav>
</nav>
<div class="p-10">
  <router-outlet></router-outlet>
</div>