<nav class="h-16 bg-green-500 items-center text-white flex gap-10 px-5">
    <h3>
        <a routerLink="/" routerLinkActive="active">Quackquack</a>
    </h3>
    <nav class="flex items-center justify-between w-full">
        <ul class="flex items-center gap-3">
            <li><a routerLink="/sale-orders" routerLinkActive="active" ariaCurrentWhenActive="page">Sale Orders</a>
            </li>
            <li><a routerLink="/invoicing" routerLinkActive="active" ariaCurrentWhenActive="page">Invoicing</a>
            </li>
        </ul>
        <button (click)="signout()">Signout</button>
    </nav>
</nav>
<div class="p-10">
    <router-outlet></router-outlet>
</div>