@page
@model IdentityServer.Pages.Home.Index

<div class="welcome-page">
    <h1>
        Welcome to Quackquack
        <small class="text-muted">(version @Model.Version)</small>
    </h1>

    <ul>
        <li>
            <a href="~/.well-known/openid-configuration">Discovery Document</a>
        </li>
        <li>
            Click <a href="~/diagnostics">Current Sessions</a>
        </li>
        <li>
            <a href="~/grants">Stored Grants</a>
        </li>
        <li>
            <a href="~/ciba/all">Pending CIBA Login Requests</a>
        </li>
    </ul>
</div>
